# Maven / build
target/
*.class

# Logs
*.log
logs/

# Environment / secrets
.env
.env.*
!.env.example

# Application local config
application-local.yml
application-local.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# STS / Eclips
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# secrets
src/main/resources/application-local.yml